@model EditReportPostViewModel

@{
    ViewData["Title"] = "Create Post";
}

<h2 class="text-light">Create a Report to Publish</h2>

<form asp-action="Create" method="post" role="form" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group mb-3">
        <label asp-for="Title" class="col-md-2 text-white"></label>
        <div class="col-md-5">
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group mb-3">
        <label asp-for="CategoryId" class="col-md-2 text-white"></label>
        <div class="col-md-5">
            <select asp-for="CategoryId"
                    asp-items="@(new SelectList(Model.CategoryList,"Id","Name"))">
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Content" class="col-md-2 text-white"></label>
        <div class="col-md-5">
            <textarea asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group mb-3">
        <label asp-for="ImageToUpload" class="col-md-2 text-white" text-white mb-3></label>
        <div class="col-md-5">
            <input type="file" asp-for="ImageToUpload" class="form-control" />
            <span asp-validation-for="ImageToUpload" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group mb-3">
        <div class="col-md-5">
            <input type="submit" class="btn btn-primary" value="Create a Report" />
        </div>
    </div>
</form>

<a asp-controller="Report" asp-action="Index" class="btn btn-outline-secondary text-white mb-3">Back to List</a>

@*Inject JQuery validation scripts in Layout*@
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
