@{
    ViewData["Title"] = "About Us";
}

<h2 class="text-light">About page</h2>
<h3 class="text-light">NEMESYS – The Near Miss Exposure and Reporting System</h3>
<p class="text-light">
    <br />
    <br />
    <br />

    NEMESYS (Near Miss Exposure and Reporting System) is a comprehensive reporting system designed for students and staff at the University of M. The system serves as a platform for individuals to report near misses that occur on or around the campus, enabling the administration to promptly intervene and take necessary actions to enhance overall health and safety conditions on campus. 
    The primary purpose of NEMESYS is to capture and document incidents that did not result in actual harm but had the potential to cause injuries or accidents. 
    <br />
    <br />
    <br />
    By encouraging the reporting of near misses, the system aims to proactively identify areas of concern and prevent future incidents from occurring. It serves as an essential tool for maintaining a safe and secure environment for everyone within the university community.
    Users of NEMESYS can easily submit near-miss reports through a user-friendly interface, providing details about the incident, its location, and any other relevant information. 
    <br />
    <br />
    <br />
    The system ensures confidentiality and allows users to report incidents anonymously if they prefer.
    Once a near-miss report is submitted, it is directed to the appropriate administrative bodies within the University of M, such as student bodies and precincts office. These entities are responsible for reviewing and analyzing the reports to identify patterns, trends, or recurring issues. Based on this information, they can take appropriate actions, implement safety measures, and address any potential hazards to mitigate the risks involved.
    NEMESYS serves as a proactive mechanism for continuous improvement in health and safety on campus. By fostering a culture of reporting and intervention, it enables the university administration to identify and resolve potential risks, thereby promoting a safer environment for all students, staff, and visitors. The system's capability lies in its ability to collect, analyze, and utilize near-miss data to implement preventive measures, ensuring the well-being of the university community.
</p>
