.c-item {
    height: 700px;
}

.c-img {
    height:100%;
    object-fit:cover;
    filter: brightness(0.6);
}

:root {
    --bs-body-bg: #0F1724;
}

.google-button {
    padding: 15px;
    background-color:white
}

.google-button img {
    width: 100px; /* Adjust the size as needed */
    height: 40px; /* Adjust the size as needed */
}
