.c-item {
    height: 700px;
}

.c-img {
    height:100%;
    object-fit:cover;
    filter: brightness(0.6);
}

:root {
    --bs-body-bg: #0F1724;
}

.google-button {
    padding: 10px;
    background-color:white
}

.google-button img {
    width: 90px; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
}